/* You can add global styles to this file, and also import other style files */
$border-radius: 0.2rem;
$border-radius-sm: 0.2rem;
$border-radius-lg: 0.3rem;

body.dark-theme {
  background: #eee;
  color: #444;
}

* {
  box-sizing: border-box;
}
.modal-dialog {
  max-width: 900px !important;
  margin: 0.5rem !important;
}
@media (min-width: 900px) {
  .modal-dialog {
    margin: auto !important;
    margin-top: 2rem !important;
  }
}
.modal-content {
  background-color: #eee !important;
  color: #444 !important;
}
.modal-header {
  border-bottom: 1px solid #c9c9c9 !important;
}
.task-card {
  margin-bottom: 1rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border-radius: 15px;
  overflow: hidden;
  border: none !important;
}
.btn-download {
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid #007bff;
}

.btn-download:hover {
  background-color: #0056b3;
}

.task-card .card-body {
  background: #f9f9f9;
  color: #444;
}

.task-card .card-header {
  background-color: #007bff;
  color: white;
  border-bottom: 1px solid #ddd;
}
.task-card .btn {
  margin-right: 0.5rem;
  padding: 4px 8px !important;
}
.list-group-item {
  background-color: #f9f9f9 !important;
  color: #444 !important;
  border: none !important;
}
.list-group-item .text-muted {
  color: #444 !important;
}

.btn-primary {
  background-color: #28a745;
  border-color: #28a745;
}
.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.dark-theme1 {
  /* redefine theme colors for dark theme */
  $primary: #012345;
  $secondary: #111111;
  $success: #222222;
  $dark: #000;
  $danger: #f74d4d;
  $indigo: #843bf9;
  $light: #ddd;
  $variable-prefix: bs-;
  $prefix: bs-;
  $input-bg: $dark;
  $input-color: $light;

  $theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "danger": $danger,
    "info": $indigo,
    "dark": $dark,
    "light": $light,
  );

  /* redefine theme color variables */
  @each $color, $value in $theme-colors {
    --#{$prefix}#{$color}: #{$value};
  }

  /* redefine theme color rgb vars (used for bg- colors) */
  // $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
  // @each $color, $value in $theme-colors-rgb {
  //   --#{$prefix}#{$color}-rgb: #{$value};
  // }

  $body-color: #eeeeee;
  $body-bg: #263c5c;

  --#{$prefix}body-color: #{$body-color};
  --#{$prefix}body-bg: #{$body-bg};
}

// @import "../node_modules/bootstrap/scss/bootstrap";
